[defaults]
inventory            = ansible_hosts
remote_user          = ubuntu
private_key_file     = ../nb-key-pair.pem
host_key_checking    = False
deprecation_warnings = False

[privilege_escalation]
become        = True
become_method = sudo
